.filter {
  flex: 0.15;
  background-color: #fff;
  position: sticky;
  max-height: 550px;
  top: 20px;
  padding: 5px;
}

.filter__heading {
  display: grid;
  place-items: center;
  margin: 10px;
}

.filter__options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 700px) {
  .filter {
    position: relative;
    margin-bottom: 50px;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .filter {
    margin-bottom: 50px;
    flex: 0.3;
    height: fit-content;
  }
}
